<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid</title>
</head>

<body>
    <h1>This alias is invalid</h1>
    <h2>Your alias must match these conditions:</h2>
    <ul>
        <li>Doesn't have special characters except '_' without quotes</li>
        <li>Has length of 4 characters or more</li>
    </ul>
    <a href="/">Return to home page</a>
</body>

</html>